= content_for :title, 'Upcoming Events'
= content_for :body_class, 'body-events'

.wrapper
  %h1 Upcoming Events

.wrapper
  %p= DateTime.now
  - @events.each do |event|
    =# render 'event', event: event
    %p= event.date

  - (3 - @events.length % 3).times do
    .event-card__spacer
