= content_for :title, 'Upcoming Events'
= content_for :body_class, 'body-events'

.wrapper
  %h1.l-mbl Upcoming Events

.wrapper.wrapper--events
  - @events.each do |event|
    = render 'event', event: event
