h1 {
  font-family: $heading-font-family;
  font-size: 3rem;
  font-weight: $light;
}

h2 {
  font-family: $heading-font-family;
  font-size: 2.5rem;
  font-weight: $light;
}

.highlight {
  background: $white;
  display: inline;
  font-family: $heading-font-family;
  font-weight: $light;

  &--black {
    background: black;
    color: white;
  }

  &--pink {
    background: $pink;
    color: white;
  }
}

a {
  color: $pink;
}
