.button {
  align-items: center;
  background: $pink;
  color: $white;
  display: flex;
  font-family: $heading-font-family;
  font-size: $small-font-size;
  font-weight: $bold;
  justify-content: center;
  height: 40px;
  text-decoration: none;
  text-transform: uppercase;

  &:hover {
    background: shade($pink, 5%);
    box-shadow: 2px 2px 0 rgba(black, .1);
  }

  &[disabled] {
    background: #ccc;
    box-shadow: none;
  }
}

.button--inline {
  display: inline-flex;
  padding: 0 20px;
}
