footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding-top: 120px;
}

.footer__newsletter {
  position: absolute;
    top: 0;
    right: 0;
  background: $pink;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 5% 100%);
  max-width: 600px;
  padding: 20px $large-spacing;
  width: 90%;

  p {
    color: $white;
    font-weight: $bold;
  }

  .inputs {
    display: flex;
  }

  input[type="email"] {
    align-items: center;
    background: $white;
    border: none;
    border-radius: 1px;
    color: $dark-gray;
    display: inline-flex;
    flex: 1 1 70%;
    font-family: $base-font-family;
    font-size: 16px;
    margin-right: 5px;
    padding: 0px 6px;
    height: 36px;
  }

  input[type="submit"] {
    align-items: center;
    background: $dark-gray;
    border: none;
    border-radius: 1px;
    cursor: pointer;
    display: inline-flex;
    font-family: $base-font-family;
    font-size: 13px;
    flex: 1 1 20%;
    padding: 0px 6px;
    height: 37px;
  }
}

.footer__links {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: $large-spacing;

  @media ($tablet) {
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }
}

.footer__links__left {
  span {
    align-items: center;
    color: $pink;
    display: flex;
    font-size: 12px;
  }

  @media ($tablet) {
    text-align: center;

    .logo {
      margin: 0 auto;
    }
  }
}

.footer__links__right {
  text-align: right;
  //max-width: 210px;

  a {
    display: inline-block;
    margin: 5px;
    text-decoration: none;
  }

  @media ($tablet) {
    text-align: center;
  }
}

.footer__copyright {
  align-items: center;
  color: #999;
  display: flex;
  font-size: 11px;
  justify-content: space-between;
  padding: 0px $large-spacing 15px $large-spacing;

  @media ($tablet) {
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }
}
