header,
.body-home header.has-background {
  position: fixed;
    top: 0;
    right: 0;
    left: 0;
  align-items: center;
  background: $white;
  box-shadow: 0 3px 3px rgba(black, .1);
  display: flex;
  height: 60px;
  padding-left: $large-spacing;
  padding-right: $large-spacing;
  transition: all .2s ease-in-out;
  z-index: 9;

  a {
    display: block;
    line-height: 1;
  }

  @media($tablet) {
    justify-content: center;

    nav {
      position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
      transform: translateX(-100%);
      transition: transform .15s ease-in;
      background: $pink;
      display: block;
      overflow-y: auto;
      padding: $base-spacing;
      width: 75%;

      span.nav__link {
        opacity: .5;
      }

      .nav__link {
        color: $white !important;
        text-shadow: none !important;
        padding: $small-spacing;

        &:not(:last-child) {
          margin-bottom: $small-spacing !important;
        }
      }

      &.is-open {
        transform: translateX(0);
        transition: transform .25s ease-out;
      }
    }

    .nav__dropdown .nav__menu {
      background: none;
      border: none;
      display: block;
      padding: $small-spacing;
      position: static;
    }
  }
}

nav {
  align-items: center;
  display: flex;
  margin-left: auto;

  & > *:not(:last-child) {
    margin-right: $large-spacing;
  }
}

.logo {
  filter: brightness(100%) invert(0%);
  display: block;
  transition: all .2s ease-in-out;
  width: 130px;
}

.donate-button {
  align-items: flex;
  display: flex;
}

.donate-button button {
  display: block;
  border: none;
  border-radius: 40px;
  background: $pink;
  color: white;
  cursor: pointer;
  font-size: 16px;
  font-family: $heading-font-family;
  font-weight: $bold;
  padding: 6px 16px;
}

.nav__link {
  color: $pink;
  font-size: $small-font-size;
  font-family: $heading-font-family;
  font-weight: $bold;
  line-height: 2;
  transition: all .2s ease-in-out;
  text-decoration: none;

  &.disabled {
    color: #ccc;
  }
}

.nav__dropdown {
  position: relative;

  &:hover {
    .nav__menu {
      display: block;
    }
  }

  .nav__menu {
    position: absolute;
    top: 25px;
    left: calc(-1 * #{$base-spacing});
    background: $white;
    display: none;
    padding: $base-spacing;
    width: 210px;

    .nav__link {
      color: $pink;
      line-height: 1;
      text-shadow: none;

      &.disabled {
        color: #ccc;
      }

      &:not(:last-child) {
        margin-bottom: $base-spacing;
      }
    }
  }
}

.body-home header {
  background: transparent;
  box-shadow: 0 3px 3px rgba(black, 0);

  .logo {
    filter: brightness(0%) invert(100%);
    fill: $white;
  }

  .nav__link {
    color: $white;
    text-shadow: 0 0 4px rgba(black, .6);
  }

  .header__menu {
    color: $white;
  }
}

i.fa.header__menu {
  color: $pink;
  cursor: pointer;
  display: none;

  @media($tablet) {
    position: absolute;
    left: $small-spacing;
    display: block;
  }
}
