.event-row {
  display: flex;
  margin-bottom: $large-spacing;
  max-width: 1100px;
  height: 200px;

  @media ($tablet) {
    height: auto;
  }
}

.event-row__image {
  background-position: center center;
  background-size: cover;
  display: block;
  flex: 0 0 auto;
  margin-right: $base-spacing;
  width: 300px;

  @media ($tablet) {
    height: 100px;
    margin-right: $small-spacing;
    width: 100px;
  }
}

.event-row__content {
  color: $white;

  a {
    color: $pink;

    &.highlight {
      text-decoration: none;
    }
  }
}

.event-row__details {
  span:not(:last-child) {
    display: inline-block;
    margin-right: 10px;

    &:after {
      content: '|';
      margin-left: 10px;
      opacity: .3;
    }

    @media ($tablet) {
      display: block;
      margin-right: 0;

      &:after {
        display: none;
      }
    }
  }
}

.event-row--past {
  opacity: .8;

  .event-row__image {
    @include filter(grayscale(100%));
  }

  .event-row__content, span {
    text-decoration: line-through;
  }

  .highlight {
    background: #888 !important;
  }
}
