.series-shard-1 {
  @include linear-gradient(135deg, shade($pink, 8%), shade($pink, 3%));
  @include position(absolute, 0 0 nil 0);
  clip-path: polygon(0% 0%, 100% 0%, 100% 50%, 0% 100%);
  -webkit-clip-path: polygon(0% 0%, 100% 0%, 100% 50%, 0% 100%);
  height: 500px;
}

.series-shard-2 {
  @include linear-gradient(135deg, shade($pink, 5%), shade($pink, 10%));
  @include position(absolute, 0 0 nil 60%);
  clip-path: polygon(0% 0%, 100% 0%, 100% 100%);
  -webkit-clip-path: polygon(0% 0%, 100% 0%, 100% 100%);
  height: 100vh;

  @media ($tablet) {
    left: 30%;
  }
}

.festival {
  .series-shard-1 {
    background: url('/images/static.gif');
    opacity: .75;
  }

  .series-shard-2 {
    background: url('/images/static.gif');
    opacity: .33;
  }

  h1 {
    font-size: rem(60);
  }

  .highlight {
    background: $pink;
    color: $white;
  }
}

.series__description {
  margin-top: $small-spacing;
  max-width: 1000px;

  h1 {
    font-size: rem(30);
  }
}

.series__events {
  margin-top: 90px;

  @media ($tablet) {
    margin-top: $large-spacing * 2;
  }
}
