%form{ action: "//wickedqueer.us12.list-manage.com/subscribe/post?u=6a850b73695fa990cc42bb016&amp;id=590c4427d3",
       method: "post",
       id: "mc-embedded-subscribe-form",
       name: "mc-embedded-subscribe-form",
       class: "footer__newsletter",
       target: "_blank",
       novalidate: "novalidate" }

  %p
    Join our Newsletter!

  .inputs
    %input{ type: 'email', value: '', name: 'EMAIL', id: 'mce-EMAIL',
          placeholder: 'Email' }

    -# real people should not fill this in and expect good things - do not remove this or risk form bot signups
    %div{ style: "position: absolute; left: -5000px;", 'aria-hidden' => "true" }
      %input{ type: "text",
              name: "b_6a850b73695fa990cc42bb016_590c4427d3",
              tabindex: "-1",
              value: "" }

    %input{ type: "submit",
            value: "Subscribe",
            name: "subscribe",
            id: "mc-embedded-subscribe",
            class: "button" }